<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<!-- <LayoutSnippet> -->
<h1>Access Token</h1>
<div class="container">
    <p>Here's your token Mama</p>
    <code class="lang-javascript">
            <p>{{accesstoken}}</p>
    </code>



</div>
<!-- </LayoutSnippet> -->